/* CSS RESET */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #1b1717;
}

body {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* Utility Classes */
.lg-heading {
    font-size: 2.1rem;
}

/* Navbar */
#navbar {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

#navbar #logo {
    color: #ffffff;
    margin-left: 25px;
}

#navbar .nav-link-container {
    
}

#navbar ul li {
    display: inline;
    list-style: none;
    

}

#navbar ul li a{
   padding: 15px;
   text-decoration: none;
   color: #ffffff;
    
}

/* Showcase */
#showcase .showcase-content {
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url(../images/barbershop-showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#showcase .showcase-content .dark-overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    
}

#showcase .showcase-content .l-heading {
    color: #ffffff;
    font-size: 3.5rem;
    z-index: 3;
}

/* Our Team */
#team {
    text-align: center;
    padding: 25px;
}

#team .container {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.team-member {
    padding: 15px;
}
.team-member img {
    width: 300px;
    height: 320px;
    border-radius: 50%;
    margin-bottom: 20px;

}
.member-name {
    font-size: 1.25rem;
}

/* Gallery */
#gallery {
    text-align: center;
    background-color: var(--main-bg-color);
    height: 600px;
    padding: 25px;
}

#gallery h2 {
    color: #ffffff;
    font-size: 2rem;
    
   
}

